     .WatchSection{
        display: flex;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
      }
      .watch {
        height: 495px;
        min-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background: url(../assets/Recalibrated_Omnitrix.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 360px;
        background-position: 50% -140%;
      }
      .leftButton {
        position: absolute;
        right: calc(50% + 133px);
      }

      .rightButton {
        position: absolute;
        left: calc(50% + 133px);
      }

      .leftButton button,
      .rightButton button {
        position: static;
        width: 45px;
        height: 48px;
        margin-top: 5px;
        padding: 0;
      }

    
      .circle {
        height: 180px;
        width: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(171, 251, 0);
        border-radius: 50%;
        position: relative;
        margin: 4px -3px ;
      }

      .circleCover {
        width: 189px;
        height: 189px;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 3px solid rgb(0, 0, 0);
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }
      .shapes {
  position: absolute;
  width: 184px;
  height: 184px;
  margin: 3px -2px 0px -2px;
  background: black;

  -webkit-mask-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='181.8' height='190' viewBox='0 -5 181.8 190'%3E%3Cpolygon points='0,-5 90.9,-5 181.8,90 90.9,185 0,185' fill='white'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='181.8' height='190' viewBox='0 -5 181.8 190'%3E%3Cpolygon points='0,90 90.9,-5 181.8,-5 181.8,185 90.9,185' fill='white'/%3E%3C/svg%3E");

  -webkit-mask-repeat:
    no-repeat,
    no-repeat;

  -webkit-mask-size:
    181.8px 190px,
    181.8px 190px;

  -webkit-mask-position:
    -110px -5px,
    110px -5px;

  -webkit-mask-composite: xor;

  mask-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='181.8' height='190' viewBox='0 -5 181.8 190'%3E%3Cpolygon points='0,-5 90.9,-5 181.8,90 90.9,185 0,185' fill='white'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='181.8' height='190' viewBox='0 -5 181.8 190'%3E%3Cpolygon points='0,90 90.9,-5 181.8,-5 181.8,185 90.9,185' fill='white'/%3E%3C/svg%3E");

  mask-repeat:
    no-repeat,
    no-repeat;

  mask-size:
    181.8px 190px,
    181.8px 190px;

  mask-position:
    -110px -5px,
    110px -5px;

  mask-composite: exclude;

  transition:
    -webkit-mask-position 0.6s ease-in-out,
    mask-position 0.6s ease-in-out;
}

.watch:hover .shapes {
  -webkit-mask-position:
    -5px -5px,
    5px -5px;

  mask-position:
    -5px -5px,
    5px -5px;
}

      .aliens {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .carousel-inner {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s ease-in 0.3s;
      }

      .watch:hover .carousel-inner {
        opacity: 1;
        visibility: visible;
      }